<div class="p-4">
    <div class="flex items-center justify-between gap-4  mb-6">
        <div class="text-lg font-semibold text-slate-900 mb-4">Mantenimiento > Empresas > {{cliente?.nombreComercial}}</div>
        <div>
            <button pButton type="button" icon="pi pi-arrow-left"  severity="info" (click)="volver.emit()" [raised]="true"
            class="p-button-text p-button-plain" ></button>
           
        </div>
    </div>

    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">Locales</p-tab>
            <p-tab value="1">Residuos</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <div class="m-0 w-full">
                    <app-locales [cliente]="cliente"></app-locales>
                </div>
            </p-tabpanel>
            <p-tabpanel value="1">
                <div class="m-0 w-full">
                    <app-residuos [cliente]="cliente"></app-residuos>
                </div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>