<div class="p-6">
  <h3 class="text-lg font-semibold text-slate-900 mb-4">
    Mantenimiento > Empresas > {{ cliente ? 'Editar empresa' : 'Registrar empresa' }}
  </h3>

  <form [formGroup]="form" (ngSubmit)="guardar()" class="space-y-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <div>

        <app-form-input [formGroup]="form" controlName="ruc" label="RUC" placeholder="Ingrese RUC" [required]="true"
          [formHelper]="formHelper" [maxLength]="20"></app-form-input>
      </div>
      <div>
        <app-form-input [formGroup]="form" controlName="razonSocial" label="Razón social"
          placeholder="Ingrese Razón social" [required]="true" [formHelper]="formHelper"
          [maxLength]="100"></app-form-input>
      </div>
      <div>
        <app-form-input [formGroup]="form" controlName="nombreComercial" label="Nombre comercial"
          placeholder="Ingrese Nombre comercial" [required]="true" [formHelper]="formHelper"
          [maxLength]="100"></app-form-input>
      </div>


    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <div>
        <label class="block text-sm font-medium text-slate-700 mb-1">Departamento <small
            class="p-error">*</small></label>
        <p-dropdown [options]="departamentos" formControlName="idDepartamento" placeholder="Seleccione"
          optionLabel="descripcion1" optionValue="correlativo" class="w-full" (ngModelChange)="cambiarDepartamento()"
          [class]="formHelper.esClaseInvalido('idDepartamento')" />
        <small *ngIf="formHelper.esCampoInvalido('idDepartamento')"
          class="p-error">{{formHelper.obtenerMensajeErrorDefecto()}}</small>
      </div>
      <div>
        <label class="block text-sm font-medium text-slate-700 mb-1">Provincia <small class="p-error">*</small></label>
        <p-dropdown [options]="provincias" formControlName="idProvincia" placeholder="Seleccione"
          optionLabel="descripcion1" optionValue="correlativo" class="w-full" (ngModelChange)="cambiarProvincia()"
          [class]="formHelper.esClaseInvalido('idProvincia')" />
        <small *ngIf="formHelper.esCampoInvalido('idProvincia')"
          class="p-error">{{formHelper.obtenerMensajeErrorDefecto()}}</small>
      </div>
      <div>
        <label class="block text-sm font-medium text-slate-700 mb-1">Distrito <small class="p-error">*</small></label>
        <p-dropdown [options]="distritos" formControlName="idDistrito" placeholder="Seleccione"
          optionLabel="descripcion1" optionValue="correlativo" class="w-full"
          [class]="formHelper.esClaseInvalido('idDistrito')" />
        <small *ngIf="formHelper.esCampoInvalido('idDistrito')"
          class="p-error">{{formHelper.obtenerMensajeErrorDefecto()}}</small>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 sm:col-span-8">
        <app-form-input [formGroup]="form" controlName="direccion" label="Dirección" placeholder="Ingrese Dirección"
          [required]="true" [formHelper]="formHelper" [maxLength]="100">
        </app-form-input>
      </div>

      <div *ngIf="form.get('cliente')?.value" class="col-span-12 sm:col-span-4">
        <label class="block text-sm font-medium text-slate-700 mb-1">Estado</label>
        <p-dropdown formControlName="idEstado" label="Estado" placeholder="Seleccione estado" [required]="true"
          appendTo="body" [options]="[
        { label: 'Activo', value: 1 },
        { label: 'Inactivo', value: 0 }
      ]" class="w-full">
        </p-dropdown>
      </div>
    </div>


    <div class="flex justify-end flex-wrap gap-3 mb-6">
      <button pButton label="Registrar" type="submit" icon="pi pi-save" [raised]="true" severity="contrast"
        class="min-w-[130px]"></button>
      <button pButton label="Ir atrás" type="button" (click)="volver.emit()" [raised]="true" icon="pi pi-arrow-left"
        severity="secondary" class="min-w-[130px]"></button>
    </div>
  </form>

</div>

<app-loading [show]="loading"></app-loading>