<ng-container *ngIf="mostrarListado(); else modoAlternativo">
  <app-listado
    (registrar)="abrirRegistro()"
    (configuracion)="configurarEmpresa($event)"
    (editar)="editarEmpresa($event)">
  </app-listado>
</ng-container>

<ng-template #modoAlternativo> 
  <ng-container *ngIf="estaConfigurando; else mostrarFormulario">
    <app-configurar
      [cliente]="mostrarConfigurar()"
      (volver)="volverAlListado()">
    </app-configurar>
  </ng-container>
 
  <ng-template #mostrarFormulario>
    <app-registro
      [cliente]="empresaSeleccionada()"
      (volver)="volverAlListado()">
    </app-registro>
  </ng-template>
</ng-template>
