<div class="p-4">
    <div class=""> 
        <div class="grid grid-cols-12 gap-4 mb-4"> 
            <div class="col-span-12 md:col-span-8">
                <label class="block text-sm font-medium text-slate-700 mb-1">Nombre</label>
                <input pInputText [(ngModel)]="nombre" (keyup.enter)="buscar()" placeholder="Ingrese nombre" class="w-full" />
            </div>
 
            <div class="col-span-12 md:col-span-4">
                <label class="block text-sm font-medium text-slate-700 mb-1">Estado</label>
                <p-dropdown placeholder="Especifique estado" [options]="[
                  {label: 'Todos', value: ''},
                  {label: 'Activo', value: '1'},
                  {label: 'Inactivo', value: '0'}
                ]" [(ngModel)]="estado" class="w-full"></p-dropdown>
            </div>
        </div>
        <div class="flex justify-end flex-wrap gap-3 mb-6">
            <p-button label="Limpiar" severity="secondary" [raised]="true" icon="pi pi-eraser" (click)="limpiar()"
                class="text-gray-700" [style]="{'min-width': '130px'}"></p-button>

            <button pButton label="Buscar" severity="info" [raised]="true" (click)="buscar()" icon="pi pi-search"
                class="text-gray-700" [style]="{'min-width': '130px'}"></button>

            <p-button label="Registrar" severity="contrast"  (click)="registrar()" [raised]="true" icon="pi pi-plus"
                [style]="{'min-width': '130px'}"></p-button>
        </div>


        <p-table [value]="locales" [paginator]="true" [rows]="10" class="w-full" [loading]="loading">
            <ng-template pTemplate="header">
                <tr>
                    <th>#</th> 
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Estado</th>
                    <th [width]="150">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-empresa let-i="rowIndex">
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ empresa.nombre }}</td> 
                    <td>{{ empresa.direccion }}</td>
                    <td>{{ empresa.descEstado }}</td>
                    <td>
                        <button pButton icon="pi pi-pencil" size="small" (click)="editar(empresa)"
                            severity="contrast" class="p-button-text"></button>
                        <button pButton icon="pi pi-trash" size="small" *ngIf="empresa.idEstado==1" (click)="eliminar(empresa)"
                            class="p-button-text" severity="danger"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>
<app-registrar-local #registrarLocal [cliente]="cliente" (guardado)="guardar($event)"></app-registrar-local>
<p-confirmdialog [style]="{'width':'420px'}" />