/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';


.p-error{
    color:var(--p-red-600);
    font-weight: bold;
}


.dropdown-panel-custom {
  min-width: 100% !important;
  width: 100% !important;
}

